$light: #fff8e8;
$blue: #a7cfe8;
$darkBlue: #549ac5;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow: hidden;
}

#entry {
  width: 100%;
  height: 100dvh;
  background-color: $light;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  h1 {
    font-size: 50px;
    color: $darkBlue;
  }
  img {
    display: block;
    width: 80%;
    max-width: 640px;
  }
  #start {
    font-size: 24px;
    font-weight: 700;
    padding: 3px 8px;
    border-radius: 5px;
    background-color: $blue;
    color: white;
    cursor: pointer;
    border: none;
    filter: drop-shadow(2px 2px 1px $darkBlue);
  }
}

#game {
  position: relative;
  width: 100%;
  height: 100dvh;
  background-color: $light;
  display: flex;
  #score{
    position: absolute;
    right: 20px;
    top: 15px;
    font-size: 46px;
    font-weight: 700;
    color: $darkBlue;
    z-index: 1;
  }
  #time{
    position: absolute;
    right: 20px;
    top: 55px;
    font-size: 46px;
    font-weight: 700;
    color: $darkBlue;
    z-index: 1;
  }
  #desk{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    width: 100%;
    height: 100%;
    background-image: url('https://hiphop200199.github.io/time_to_clean/image/desk.jpg');
    background-size: cover;
    background-position: center;
    #up,#down{
      width: 100%;
      display: flex;
      align-items:end;
      justify-content: space-evenly;
      max-height: 200px;
    }
    img{
      max-height: 100%;
      &[alt="pencils"]{
        width:clamp(20px,5%,50px);
      }
      &[alt="screen"]{
        width:clamp(250px,40%,350px);
      }
      &[alt="backpack"]{
        width:clamp(200px,20%,250px);
      }
      &[alt="basket"],&[alt="holder"]{
        width:clamp(100px,15%,150px);
      }
      &[alt="trash"]{
        width:clamp(200px,20%,300px);
      }
    }
  }
}
#remind{
  position: relative;
  width: 100%;
  height: 100dvh;
  display: none;
  justify-content: center;
  align-items: center;
  #phone{
      display: none;
  }
}
#back-modal{
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  height: 250px;
  border-radius: 10px;
  border: 3px solid $darkBlue;
  background-color: $light;
  &::backdrop{
    background-color: rgba(0,0,0,0.7);
  }
  h4,h5{
    margin-block-start: 30px;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    color: $darkBlue;
  }
  h5{
    font-size: 28px;
  }
  button{
    display: block;
    margin: 50px auto;
    font-size: 24px;
    font-weight: 700;
    color: $light;
    background-color: $blue;
    filter: drop-shadow(2px 2px 1px $darkBlue);
    cursor: pointer;
    border: none;
    padding: 3px 8px;
    border-radius: 5px;
  }
}

@keyframes no {
  33%{
    rotate: -30deg;
    scale: 1.2;
  }
  67%{
    rotate: 30deg;
  }
}

@media screen and (orientation: portrait) and (max-width:576px) {
  #entry,#game{
    display: none;
  }
  #remind{
    display: flex;
    #wide{
      display: none;
    }
    #phone{
      display: block;
    }
  }
}

@media screen and (orientation: portrait) and (min-width:577px) and (max-width:768px) {
  #entry,#game{
    display: none;
  }
  #remind{
    display: flex;
    #wide{
      display: block;
    }
    #phone{
      display: none;
    }
  }
}

@media screen and (orientation: landscape) and (min-width: 400px) and (max-height: 576px) {
 #entry {
  img {
    width: 35%;
    max-width: 200px;
  }
}

 #game{
   #desk{
    #up,#down{
      max-height: 50px;
      img[alt="pencils"]{
        width: 30px;
      }
      img[alt="holder"],img[alt="basket"]{
        width: 50px;
      }
      img[alt="screen"]{
        width: 150px;
      }
      img[alt="backpack"],img[alt="trash"]{
        width: 80px;
      }
    }
   }
  }
   
}